# test262 compiled python files
*.pyc

# Ignore test262 output
*.log

# The NPM package only needs runtime files.
# (It doesn't need anything used during development of this library.)
tools/
tests/
tasks/
tmp/
.travis.yml
appveyor.yml
Gruntfile.js

# source files
src/
scripts/
