# test262 compiled python files
*.pyc

# Ignore test262 output
*.log

# The NPM package only needs runtime files.
# (It doesn't need anything used during development of this library.)
tools/
tests/
tasks/
tmp/
Gruntfile.js
.travis.yml
appveyor.yml
.babelrc
.eslintignore
.eslintrc.yml
.npmignore
.gitattributes

# source files
src/
scripts/
